<div class="construction-container">
    <div class="construction-content">
      <h1>🚧 Diese Seite ist gerade in Arbeit 🚧</h1>
      <p>Wir arbeiten hart daran, diese Seite so schnell wie möglich für Sie bereitzustellen. Bitte haben Sie noch etwas Geduld. ⏳</p>
      <div class="construction-animation">
        <div class="construction-worker">👷</div>
        <div class="pickaxe">⛏️</div>
      </div>
      <p>Vielen Dank für Ihr Verständnis! 🙏</p>
      <!-- Zurück-Button -->
      <button class="back-button" (click)="back()">Zurück zur vorherigen Seite</button>
    </div>
  </div>