app-card {
  height: 450px;
}

.overview-container {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  font-family: Inter, sans-serif;
  height: 100%;
  width: 100%;
  background: linear-gradient(-45deg, #830537, #420b1e);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
  gap: 1rem;
  padding: 2rem;
  border-radius: 1rem;
  margin: 4vh;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 5px 15px;
  width: 85%;
  background-color: rgb(243, 238, 238);
  overflow: auto;
  clip-path: inset(0 round 10px);
}

::-webkit-scrollbar {
  width: 8px;
  display: ruby-base-container;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #4caf50, #81c784);
  border-radius: 1rem;
}

::-webkit-scrollbar-track {
  background: transparent;
  margin: 0;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #388e3c, #66bb6a);
}

app-sidebar {
  margin-right: 120px;
  transition: margin-right 0.3s ease-in-out;
}

@media (max-width: 768px) {
  app-sidebar {
    margin-right: 80px;
  }

  .card-container {
    margin: 3vh;
  }
}

@media (max-width: 480px) {
  .overview-container {
    justify-content: flex-start;
    gap: 0;
    flex-direction: column;
    align-items: center;
  }

  .card-container{
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0;
    padding: 1rem;
    margin: 2vh;
    height: 86vh;
    width: 90%;
  }

  app-card{
    height: 65vh;
  }
  app-bottom-navbar{
    width: 100%;
  }
}
