<div class="reservierung-container">
    <!-- Seating Area -->
    <div class="seating-area">
      @for (row of seatRows; track row[0].row_number) {
        <div class="seat-row">
          <div class="row-display">{{ row[0].row_number }}</div>
          @for (seat of row; track seat.id) {
            <app-seat [isReserved]="seat.is_occupied" [rowNumber]="seat.row_number" [seatNumber]="seat.seat_number"></app-seat>
          }
          
          <div class="row-display">{{ row[0].row_number }}</div>
        </div>
      }
    </div>
    <div class="screen">Bühne</div>
    <div class="legend">
      <div><span class="legend-box free"></span> Frei</div>
      <div><span class="legend-box selected"></span> Gewählte Sitze</div>
    </div>
  </div>
  