<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="login.component.scss" />
  </head>
  <body>
    <div class="login-card">
      <h2>Login</h2>
      @if(errorMessage){
      <h3 style="color: red">{{ errorMessage }}</h3>
      } @else {
      <h3>Melde dich an!</h3>
      }
      <form class="login-form">
        <input
          [(ngModel)]="email"
          name="E-mail"
          type="text"
          placeholder="E-mail"
        />
        <input
          [(ngModel)]="password"
          name="Password"
          [type]="isPasswordVisible() ? 'text' : 'password'"
          placeholder="Passwort"
        />
        <button (click)="login()">Login</button>
      </form>
    </div>
  </body>
</html>
