<body>
<section>
  <form>
    <h1>Login</h1>
    <div class="inputbox">
      <input id="email" type="email" required>
      <label for="email">Email</label>
    </div>
    <div class="inputbox">
      <input id="name" type="password" required>
      <label for="name">Password</label>
    </div>
    <div class="forget">
      <label  for="remember"><input id="remember" type="checkbox">Remember Me</label>
      <a href="#">Forget Password</a>
    </div>
    <button>Log in</button>
    <div class="register">
      <p>Don't have an account? <a href="#">Register</a></p>
    </div>
  </form>
</section>
</body>
