<aside class="sidebar">
  <div class="left">
    <button>
      <i class="fa fa-user"></i>
    </button>
    <button>
      <i class="fa fa-plus"></i>
    </button>
    <button>
      <i class="ai-gear"></i>
    </button>
    <button (click)="logout()">
      <i class="fa fa-arrow-left" style="color: white"></i>
    </button>
  </div>
  <div class="right">
    <h1>teams.co</h1>
    <nav class="buttons">
      <button>
        <i class="ai-dashboard"></i>
        <span>Boards</span>
      </button>
      <button>
        <i class="ai-people-multiple"></i>
        <span>Teams</span>
      </button>
      <button>
        <i class="ai-credit-card"></i>
        <span>Billing</span>
      </button>
      <button>
        <i class="ai-calendar"></i>
        <span>Events</span>
      </button>
      <button>
        <i class="ai-check-box"></i>
        <span>Tasks</span>
      </button>
      <button>
        <i class="ai-settings-vertical"></i>
        <span>Config</span>
      </button>
    </nav>
    <h2>Statistics</h2>
    <nav class="buttons">
      <button>
        <i class="ai-triangle-alert"></i>
        <span>Alerts</span>
      </button>
      <button>
        <i class="ai-statistic-up"></i>
        <span>Trends</span>
      </button>
    </nav>
  </div>
</aside>

