h1 {
  display: flex;
  align-self: flex-start;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  background: linear-gradient(to right, #A71C51, #218546);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   margin-left: 1vh;
}

.overview-container{
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  font-family: Inter, sans-serif;
  height: 100%;
  width: 100%;
}

.card-container{
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  margin-left: 1vh;
}
