h1 {
  display: flex;
  align-self: flex-start;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  background: linear-gradient(to right, #A71C51, #218546);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   margin-left: 1vh;
}

.overview-container{
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  font-family: Inter, sans-serif;
  height: 100%;
  width: 100%;
  background: linear-gradient(-45deg, #9a0641, #490c22);
}

.card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  gap: 1rem;
  padding: 2rem;
  border-radius: 1rem;
  margin: 4vh;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 80%;
  background-color: white;
  overflow: auto;
}

app-sidebar{
  margin-right: 15vh;
  transition: margin-right 0.3s ease-in-out;
}

app-sidebar:hover{
  margin-right: 45vh;
}
